* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
}

html {
    font-size: 16px;
    color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 0px max((calc(100% - 1280px) / 2), 16px);
    background-color: aqua;

    h1{
        font-size: clamp(1.25rem, 2.5dvw, 3rem);
    }
}

header {
    height: 10dvh;
    padding: 2dvh 2dvw;
}

main {
    background-color: beige;
    min-height: 85dvh;
    width: 100%;

    #books-wrapper {
        height: 100%;
        width: 100%;
        background-color: aquamarine;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
    }

    .book-card {
        height: 700px;
        width: 350px;
        display: flex;
        flex-direction: column;
        border: 1px black solid;
        padding: 8px;
        gap: 16px;

        h2 {
            text-align: center;
            font-style: italic;
        }

        img {
            height: 150px;
            width: 150px;
            align-self: center;
            justify-self: center;
            background-color: black;
        }

        .book-numbers {
            display: flex;
            justify-content: space-between;

            .likes-and-liked {
                display: flex;
                justify-content: flex-end;
                gap: 16px;

                button{
                    cursor: pointer;
                }
            }
        }

        .book-details {
            th, td {
                text-align: start;
            }
        }

        .comment-box {
            background-color: yellow;
            height: 250px;
            overflow-y: auto;
        }

        .comments-box::-webkit-scrollbar {
            width: 6px;
        }

        .comment-input-box{
            width: 100%;
            height: fit-content;
            background-color: lightcoral;
            display: flex;
            justify-content: space-between;
            padding: 4px;

            input{
                width: 85%;
                background-color: brown;
                border-bottom: 2px solid black;
            }

            button{
                width: 15%;
                font-size: 24px;
            }

            button:hover{
                cursor: pointer;
            }
        }

    }
}

footer {
    height: 5dvh;
    width: 100%;
    align-content: center;
    text-align: center;
}
